/* Global  */
.no-focus:focus {
    outline: none;
    box-shadow: none;
}


/* Add Stage Component */
.outer-container {
    border-bottom: 0.5px solid #edf0f2;
}

.stage-container {
    padding: 15px;
}

.stage-container input {
    width: 200px;
    padding: 8px 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 3px 0px 0px 3px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #d1ddff;
}

.stage-container button {
    color: #193147;
    padding: 8px 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 0px 3px 3px 0px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #d1ddff;
    background-color:#e0e8ff;
    transition: 0.5s;
}

.stage-container button:hover {
    color: white;
    background-color:#193147;
}

.edit-columns {
    float: right;
}

.green {
    background-color: rgb(113, 214, 99);
}

/* Column Component */
.stage-column-container {
    padding: 10px;
    width: 320px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.add-task {
    margin-top: 5px;
    padding: 10px;
    text-align: left;
}

.all-stage-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: auto;
}

.column-menu {
    width: 30px;
    float: right;
    background-color: inherit;
    border: none;
    color: #7e8d9c;
    transition: all 0.2s;
}

.column-menu:hover {
    color: #1d4162;
}

/* Task Component */
.task-container {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    /* border: 1px grey solid; */
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.task-move-button {
    display:inline-block;
    padding:0.3em 1em;
    border:0.16em solid #a7c1db;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#4274a3;
    text-align:center;
    background-color: in;
    transition: all 0.15s;
}

.task-move-button:hover {
    border-color: #1d4162;
    color: #1d4162;
}

/* Modal Styling */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.hide {
    display: none;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.close-modal {
    color: #9b9b9b;
    float: right;
    font-size: 24px;
    padding: 4px;
}

.close-modal:hover {
    color: #494949;
    cursor: pointer;
}

.modal-add-button-container {
    padding-top: 10px;
}

.modal-button {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #1d4162;
    /* margin:0 0.3em 0.3em 0; */
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    background-color: white;
    color:#1d4162;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    text-align:center;
    transition: all 0.15s;
}

.modal-button:hover {
    background-color: #1d4162;
    color: #fff;
}

#modal-input {
    width: 95%;
}

.no-shadow {
    box-shadow: none;
}

